<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div ngbAccordion [closeOthers]="true">
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Layout</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="row">
                                    <label class="col-md-4 col-form-label text-center">Layout</label>
                                    <div class="col-md-8">
                                        <select class="form-control mb-2 form-control-sm" (change)="onLayoutChange($event)">
                                            @for(layout of networkLayouts(); track $index ){
                                            <option [value]="layout.name" [selected]="currentLayout().name === layout.name">
                                                {{layout.display_name}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @if(layoutFormGenerated() && currentLayout()){
                                    @for (layoutOption of currentLayout()!.options; track $index){
                                        <div class="row">
                                            <label class="col-md-4 col-form-label text-center">{{layoutOption.display_name}}</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control form-control-sm" [(ngModel)]="options[layoutOption.name]">
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="form-group mt-2 text-end">
                                    <button class="btn btn-primary btn-block btn-sm" (click)="onSubmitLayout()">Apply</button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Style</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Show Nodes:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="graphStyle.show_nodes">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Node Width :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="graphStyle.node_width" min="50" max="500">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Node Height :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="graphStyle.node_height" min="50" max="500">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Node Shape :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm" [(ngModel)]="graphStyle.node_shape">
                                            <option value="ellipse">Ellipse</option>
                                            <option value="triangle">Triangle</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="pentagon">Pentagon</option>
                                            <option value="heptagon">Peptagon</option>
                                            <option value="octagon">Octagon</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Node Color :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="color" class="form-control form-control-sm" [(ngModel)]="graphStyle.node_color">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Border Width :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="graphStyle.border_width" min="1" max="10">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Border Color :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="color" class="form-control form-control-sm" [(ngModel)]="graphStyle.border_color">
                                    </div>
                                </div>
                                <hr/>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Show Edges:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="graphStyle.show_edges">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Edge Width :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="graphStyle.edge_width" min="1" max="5">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Edge Color :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="color" class="form-control form-control-sm" [(ngModel)]="graphStyle.edge_color">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Edge Style :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm" [(ngModel)]="graphStyle.edge_style">
                                            <option value="solid">Solid</option>
                                            <option value="dotted">Dotted</option>
                                            <option value="dashed">Dashed</option>
                                        </select>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Selected Color :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="color" class="form-control form-control-sm" [(ngModel)]="graphStyle.highlighted_node_color">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group mt-2 text-end">
                                    <button class="btn btn-primary btn-block btn-sm" (click)="onSubmitStyle()">Apply</button>
                                </div>
                            </ng-template>  
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Filter</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Filter By</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-sm" [(ngModel)]="filter.name" (change)="onFilterChange($event)">
                                            <option value="">None</option>
                                        @for(filterOption of filterOptions(); track $index){
                                            <option [value]="filterOption.name">{{filterOption.display_name}}</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                                @if(filter.name != ''){
                                    <div class="row mt-2 ">
                                        <div class="col-md-5">
                                            <label>Operator</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control form-control-sm" [(ngModel)]="filter.operator">
                                            @for(operator of filterOperators; track $index){
                                                <option [value]="operator">{{operator}}</option>
                                            }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-5">
                                            <label>Value</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="filterValue">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2 text-end">
                                        <button class="btn btn-secondary btn-sm" (click)="onResetFilter()">Reset</button> &nbsp;
                                        <button class="btn btn-primary btn-block btn-sm" (click)="onSubmitFilter()">Filter</button>
                                    </div>
                                }
                                
                            </ng-template>  
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Analytics</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Size by :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm" [(ngModel)]="selectedSize">
                                            <option value="">None</option>
                                            @for(opt of sizeByOptions(); track $index){
                                                <option [value]="opt">{{opt}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Color by :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm" [(ngModel)]="selectedColor">
                                            <option value="">None</option>
                                            @for(opt of colorByOptions(); track $index){
                                                <option [value]="opt">{{opt}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <label>Shape by :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm" [(ngModel)]="selectedShape">

                                            <option value="">None</option>
                                             @for(opt of shapeByOptions(); track $index){
                                                <option [value]="opt">{{opt}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mt-2 text-end">
                                    <button class="btn btn-secondary btn-block btn-sm" (click)="onResetAnalytics()" >Reset</button> &nbsp;
                                    <button class="btn btn-primary btn-block btn-sm" (click)="onApplyAnalytics()">Apply</button>
                                </div>
                            </ng-template>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul ngbNav #nav="ngbNav" [(activeId)]="navActive" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>
                        {{session_name()}}
                    </button>
                    <ng-template ngbNavContent>
                        <div class="card">
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="graph" #graph id="graph"></div>
                                </div>
                            </div>
                        </div>
                        @if(colorLegends().length > 0 || shapeLegends().length > 0){
                            <div class="card card-body mt-1">
                                <div class="card-text" id="legend">
                                    @if(colorLegends().length > 0){
                                        @for(legendItem of colorLegends() ; track $index){
                                            <button type="button" class="legend-item btn btn-outline-secondary" [ngClass]="{'highlighted': legendItem.selected}">
                                                <span class="legend-item-color" [style.backgroundColor]="legendItem.color"></span>
                                                <span class="legend-item-label">{{legendItem.label}}</span>
                                            </button>
                                        }
                                    }
                                    @if(shapeLegends().length > 0){
                                        @for(legendItem of shapeLegends() ; track $index){
                                            <button type="button" class="legend-item btn btn-outline-secondary" [ngClass]="{'highlighted': legendItem.selected}">
                                                <span class="legend-item-shape" [ngClass]="'shape-' + legendItem.shape"></span>
                                                <span class="legend-item-label">{{legendItem.label}}</span>
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body"> 
                    <div class="card-title">
                        <h3>Inspector</h3>
                        <hr/>
                    </div>    
                    @if(selectedNode().id != ""){
                        <table class="table table-striped">
                            <tr>
                                <td class="col-md-7">ID :</td>
                                <td class="col-md-5">{{selectedNode().id}}</td>
                            </tr>
                            @for(nodeProperty of selectedNode().properties;track $index){
                                <tr class="form-group">
                                    <td class="col-md-7">{{nodeProperty.label}} :</td>
                                    <td class="col-md-5">{{nodeProperty.value}}</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="preferencesModal" tabindex="-1" aria-labelledby="preferencesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="preferencesModalLabel">Preferences</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal content goes here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
