<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Network Properties : {{session_name()}}</h1>
                    </div>
                    <div class="card-subtitle">
                        <h3>Meta Data</h3>
                    </div>
                    <div class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Number of Nodes</strong> : {{meta_data()['num_nodes']}}
                            </li>
                            <li class="list-group-item">
                                <strong>Number of Edges</strong> : {{meta_data()['num_edges']}}
                            </li>
                            <li class="list-group-item">
                                <strong>Directed</strong> : {{ meta_data()['directed']}}
                            </li>
                            <li class="list-group-item">
                                <strong>Has Weights</strong> : {{meta_data()['has_weighted']}}
                            </li>
                        </ul>
                    </div>
                    <div class="card-subtitle mt-2">
                        <h3>Node Attributes</h3>
                    </div>
                    <div class="card-text">
                        <table class="table table-striped h-50">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-1">S.No</th>
                                    <th class="col-md-2">Attribute</th>
                                    <th class="col-md-2">Present in All ?</th>
                                    <th class="col-md-1">Type</th>
                                    <th class="col-md-2 text-center">Unique Values</th>
                                    <th class="col-md-1 text-center">Min</th>
                                    <th class="col-md-1 text-center">Max</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for(node_property of node_properties_current(); track node_property['sno']){
                                <tr>
                                    <td class="text-center col-md-1">{{node_property['sno']}}</td>
                                    <td class="col-md-2">{{node_property['name']}}</td>
                                    <td class="col-md-1 text-center">{{node_property['is_present_in_all'] == true ?
                                        "Yes" : 'No'}}</td>
                                    <td class="col-md-2">
                                        {{
                                        node_property['dtype'] == 'str' ? 'String' :
                                        node_property['dtype'] == 'int' || node_property['dtype'] == 'float' ? 'Number'
                                        :
                                        node_property['dtype'] == 'bool'? 'Boolean' :
                                        node_property['dtype'] == 'datetime'? 'Datetime' :
                                        "mixed"
                                        }}
                                    </td>
                                    <td class="col-md-2 text-center">
                                        @if(node_property['unique_values']?.length > 0){
                                            <button type="button" class="btn btn-primary btn-sm" (click)="onShowUniqueValues(node_property['name'], node_property['unique_values'])">View Values</button>             
                                        }
                                        @else {
                                            <span>N.A.</span>
                                        }
                                    </td>
                                    <td class="col-md-1 text-center">{{
                                        node_property['min'] ? node_property['min'] : "N.A."
                                        }}</td>
                                    <td class="col-md-1 text-center">{{
                                        node_property['max'] ? node_property['max'] : "N.A."
                                        }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSizeNode()" [(page)]="node_page"
                                [pageSize]="node_page_size" (pageChange)="refreshPageNode()">
                            </ngb-pagination>
                        </div>
                    </div>
                    <div class="card-subtitle mt-1">
                        <h3>Edge Attributes</h3>
                    </div>
                    <div class="card-text">
                        <p>Select the attributes you want to use as filters</p>
                        <table class="table table-striped h-50">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-1">S.No</th>
                                    <th class="col-md-2">Attribute</th>
                                    <th class="col-md-2">Present in All ?</th>
                                    <th class="col-md-1">Type</th>
                                    <th class="col-md-2 text-center">Unique Values</th>
                                    <th class="col-md-1 text-center">Min</th>
                                    <th class="col-md-1 text-center">Max</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(edge_property of edge_properties_current(); track edge_property['sno']){
                                <tr>
                                    <td class="text-center col-md-1">{{edge_property['sno']}}</td>
                                    <td class="col-md-2">{{edge_property['name']}}</td>
                                    <td class="col-md-1 text-center">{{edge_property['is_present_in_all'] == true ?
                                        "Yes" :
                                        'No'}}</td>
                                    <td class="col-md-2">
                                        {{
                                        edge_property['dtype'] == 'str' ? 'String' :
                                        edge_property['dtype'] == 'int' || edge_property['dtype'] == 'float' ? 'Number':
                                        edge_property['dtype'] == 'bool'? 'Boolean' :
                                        edge_property['dtype'] == 'datetime'? 'Datetime' :
                                        "mixed"
                                        }}
                                    </td>
                                    <td class="col-md-2 text-center">
                                        @if(edge_property['unique_values']?.length > 0){
                                            <button type="button" class="btn btn-primary btn-sm" (click)="onShowUniqueValues(edge_property['name'], edge_property['unique_values'])">View Values</button>
                                        }@else {
                                            <span> N.A. </span>
                                        }
                                        
                                    </td>
                                    <td class="col-md-1 text-center">{{
                                        edge_property['min'] ? edge_property['min'] : "N.A."
                                        }}</td>
                                    <td class="col-md-1 text-center">{{
                                        edge_property['max'] ? edge_property['max'] : "N.A."
                                        }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSizeEdge()" [(page)]="edge_page"
                                [pageSize]="edge_page_size" (pageChange)="refreshPageEdge()">
                            </ngb-pagination>
                        </div>
                        <div class="mt-1" style="float: right">
                            <button (click)="onSubmit()" class="mt-2" type="button" class="btn btn-primary">
                                View Graph
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @if(errorMessage != ""){
                <div class="card">
                    <div class="card-body">
                        <p class="alert alert-danger">{{ errorMessage }}</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <ng-template #ValuesListModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Unique values : {{property_name()}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-horizontal d-flex flex-wrap">
                @for(property_value of property_values();track $index){
                    <li class="list-group-item">{{property_value}}</li>
                }
            </ul>
           
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>
    